<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="">
        <meta name="author" content="">

        <title>Buy Currency</title>

        <link rel="icon" type="image/x-icon" href="/images/favicon.png">

        <!-- CSS FILES -->                
        <link rel="preconnect" href="https://fonts.googleapis.com">
        
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

        <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,400;0,700;1,200&family=Unbounded:wght@400;700&display=swap" rel="stylesheet">
        
        <link href="css/bootstrap.min.css" rel="stylesheet">

        <link href="css/bootstrap-icons.css" rel="stylesheet">

        <link href="css/tooplate-kool-form-pack.css" rel="stylesheet">

        <link href="css/currency.css" rel="stylesheet">
        
<!--

Tooplate 2136 Kool Form Pack

https://www.tooplate.com/view/2136-kool-form-pack

Bootstrap 5 Form Pack Template

-->
    </head>
    
    <body>

        <main>

            <%- include("./partials/header.ejs") %>

            <section class="hero-section d-flex justify-content-center align-items-center" id="section_1">
                <div class="container">
                    <div class="row">
                        <form id="converter-form">
                        <div class="col-lg-6 col-12 mx-auto">
                                <div class="currency-convertor">
                                    <h2>Currency Converter</h2>
                                </div>

                                <img class="swipe" src="images/swipe.gif" alt="Animated GIF">

                                <div class="blocks">
                                    <div class="block">
                                        <h2>I pay</h2>
                                        <div class="input-container">
                                            <input type="number" id="amountFrom" placeholder="Amount" step="0.01" min="0.00" oninput="formatInput(this)" required>
                                            <select id="from">
                        
                                            </select>
                                        </div>
                                        <p class="price-one">1 Currency = 1 Currency</p>
                                    </div>

                                    <div class="button-st">
                                        <img src="./images/strilky.png" alt="">
                                    </div>
                    
                                    <div class="block">
                                        <h2>I get</h2>
                                        <div class="input-container">
                                            <input type="number" id="result" placeholder="Amount" min="0.00" oninput="formatInput(this)" readonly>
                                            <select id="to">
                                                
                                            </select>
                                        </div>
                                        <p class="price-two">1 Currency = 1 Currency</p>
                                    </div>
                                </div>

                                <div class="buttons">
                                    <div class="button-buy">
                                        <button class="buy" type="button">Buy this currency</button>
                                    </div>
                                </div> 
                            </div>
                        </div>
                    </form>
                    </div>
                </div>

                <div class="video-wrap">
                    <video autoplay="" loop="" muted="" class="custom-video" poster="">
                        <source src="videos/video.mp4" type="video/mp4">

                        Your browser does not support the video tag.
                    </video>
                </div>
            </section>
        </main>

        <script>
        document.addEventListener("DOMContentLoaded", function () {
        const buyButton = document.querySelector(".buy");

        buyButton.addEventListener("click", function () {
        const amountTo = document.getElementById("result").value;
        const amountFrom = document.getElementById("amountFrom").value;
        const toCurrency = document.getElementById("to").value;


        fetch(`/buy-currency/pay`, {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json',
        },
        body: JSON.stringify({
            amountFrom: amountFrom,
            amountTo: amountTo,
            toCurrency: toCurrency
        })
        })
        .then(response => response.json())
        .then(data => {
            if (data.message === "Link has been created") {
                window.location.href = data.redirectUri;
            } else {
                console.error("Failed to buy currency:", data.error);
            }
        })
        .catch(error => {
        console.error("There has been a problem with your fetch operation:", error);
                });
             });
        });

        </script>

        <!-- JAVASCRIPT FILES -->
        <script src="js/buy-currency.js"></script>
        <script src="js/jquery.min.js"></script>
        <script src="js/bootstrap.bundle.min.js"></script>
        <script src="js/countdown.js"></script>
        <script src="js/init.js"></script>

    </body>
</html>
